In [2]:
import numpy as np
import pandas as pd

In [3]:
movies=pd.read_csv('Dataset_Tmdb.csv')
movies = movies.copy()

In [4]:
movies.head(5)

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      10866 non-null  int64
 1   Title   10866 non-null  object
 2   Tag     10840 non-null  object
dtypes: int64(1), object(2)
memory usage: 254.8+ KB

In [6]:
movies.isnull().sum()

Id        0
Title     0
Tag      26
dtype: int64

In [20]:
movies

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
9860,42995,Experiment in Terror,Kelly Sherwood is terrorized by a man with an ...
9861,16103,The Loneliness of the Long Distance Runner,"A rebellious youth, sentenced to a boy's refor..."
9862,13671,The Music Man,A con man comes to an Iowa town with a scam us...
9863,19201,Captain Clegg,What secret lay behind the dreaded Marsh Phant...
9864,10242,What Ever Happened to Baby Jane?,Two aging film actresses live as virtual reclu...

In [ ]:
movies['tags']=movies['overview']+movies['genres']
movies

In [ ]:
movies=movies.drop(columns=['overview','genres'])
movies

In [ ]:
column_renamed={'id':'Id','original_title':'Title','tags':'Tag'}
movies.rename(columns=column_renamed,inplace=True)
movies.to_csv('Dataset_Tmdb.csv', index=False, mode='w')
movies

In [8]:
movies = movies.drop(movies.index[-865:])

In [9]:
movies = movies.drop(movies.index[-135:])
movies

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
9861,16103,The Loneliness of the Long Distance Runner,"A rebellious youth, sentenced to a boy's refor..."
9862,13671,The Music Man,A con man comes to an Iowa town with a scam us...
9863,19201,Captain Clegg,What secret lay behind the dreaded Marsh Phant...
9864,10242,What Ever Happened to Baby Jane?,Two aging film actresses live as virtual reclu...
9865,3009,Le procÃƒÂ¨s,An unassuming office worker is arrested and st...

In [10]:
movies = movies.drop(movies.index[-1:])
movies

,Id,Title,Tag
0,135397,Jurassic World,Twenty-two years after the events of Jurassic ...
1,76341,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...
2,262500,Insurgent,Beatrice Prior must confront her inner demons ...
3,140607,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...
4,168259,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...
...,...,...,...
9860,42995,Experiment in Terror,Kelly Sherwood is terrorized by a man with an ...
9861,16103,The Loneliness of the Long Distance Runner,"A rebellious youth, sentenced to a boy's refor..."
9862,13671,The Music Man,A con man comes to an Iowa town with a scam us...
9863,19201,Captain Clegg,What secret lay behind the dreaded Marsh Phant...
9864,10242,What Ever Happened to Baby Jane?,Two aging film actresses live as virtual reclu...

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
cv=CountVectorizer(max_features=9000,stop_words='english')

In [13]:
vector=cv.fit_transform(movies['Tag'].values.astype('U')).toarray()

In [14]:
vector.shape

(9865, 9000)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
similarity=cosine_similarity(vector)

In [17]:
similarity

array([[1.        , 0.2057378 , 0.19802951, ..., 0.        , 0.03187884,
        0.070014  ],
       [0.2057378 , 1.        , 0.12222647, ..., 0.06299408, 0.01967604,
        0.04321358],
       [0.19802951, 0.12222647, 1.        , ..., 0.        , 0.0378777 ,
        0.04159452],
       ...,
       [0.        , 0.06299408, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.03187884, 0.01967604, 0.0378777 , ..., 0.        , 1.        ,
        0.02678358],
       [0.070014  , 0.04321358, 0.04159452, ..., 0.        , 0.02678358,
        1.        ]])

In [18]:
def recommend(movie_title):
    index= movies[movies['Title']==movie_title].index[0]
    distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:11]:
        print(movies.iloc[i[0]].Title)

In [19]:
recommendations = recommend("Furious 7")
print(recommendations)

Furious 7
Savage Streets
Fast & Furious 6
Patriot Games
Transit
Urban Justice
The Fast and the Furious
Tokarev
Dead Man's Shoes
The River Wild
Foxy Brown
None